workshop/building-ml-apps-rapidly/new-github-repo.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/new-repo-setup.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/authorize-code-server.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/create-new-project.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/github-star-fork.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/mlhandler-card.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/mlhandler-endpoint-card.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/mlhandler-form.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/clone-repo-dialog.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/new-project-dialog.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/table.png filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/git-config-terminal.gif filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/launch-app.gif filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/mlhandler-form.gif filter=lfs diff=lfs merge=lfs -text
workshop/building-ml-apps-rapidly/vscode-nav.gif filter=lfs diff=lfs merge=lfs -text
