# Config file for automatic testing at travis-ci.org

language: python
python: '3.7'

# Python 3.7 works only in Xenial with sudo
# https://github.com/travis-ci/travis-ci/issues/9069#issuecomment-425720905
dist: xenial
sudo: yes

# Cache modules for faster builds
cache:
  timeout: 1000
  pip: true
  npm: true
  yarn: true

install:
  # Install miniconda
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O $HOME/miniconda.sh
  - bash $HOME/miniconda.sh -b -u -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  # Install conda packages
  - conda install -y -q colorama h5py lxml matplotlib pandas pytest seaborn sqlalchemy tzlocal
  # Install pip modules
  - pip install flake8 pep8-naming flake8-gramex flake8-blind-except flake8-print flake8-debugger bandit nose
  # Install node.js and packages using yarn (faster than npm)
  - nvm install 12
  - npm install -g yarn
  - yarn global add eclint eslint eslint-plugin-html eslint-plugin-template htmllint-cli
  # Set up variables
  - export BRANCH=$TRAVIS_BRANCH

script:
  - eclint check '**/*.html' '**/*.js' '**/*.css' '**/*.yaml' '**/*.md'
  - eslint .
  - htmllint
  - flake8
