$dark: #20186f;
$primary: #005fd2;
$warning: #e4cc16;
$success: #048547;
$danger: #f41709;
$light: #e0e6e7;

@import "theme/bootstrap5";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
@import url("ui/@fortawesome/fontawesome-free/css/all.min.css");
@import url("monokai.css?v=2");

:root {
  --navbar-height: 4rem;
  --sidebar-width: 16rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--navbar-height) + 1rem);
}

body {
  position: relative; /* For Bootstrap scrollspy */
}

.main-navbar {
  height: var(--navbar-height);
}

/* Heading typography */
h1, h2, h3 {
  margin-top: 1em;
}
.content h1:first-child {
  margin-top: 0;
}

/* Tables should have spacing and borders */
table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
table thead th {
  padding: 0 0.3rem;
  border-bottom: 1px solid #000;
}
table tbody td {
  padding: 0 0.3rem;
  border: 1px solid #eee;
}

.content {
  /* If URLs are too long, break them */
  word-break: break-word;
}

.menu {
  position: sticky;
  top: var(--navbar-height);
  background-color: var(--white);
  max-width: var(--sidebar-width);
  overflow-y: auto;
  max-height: calc(100vh - var(--navbar-height));

  .menu-section {
    font-size: 125%;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
    &:before {
      content: "🟊";
      display: inline-block;
      width: 1.5rem;
    }
  }
  .active {
    border-left: 2px solid black;
    color: red !important;
    font-weight: bold !important;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
    width: 100%;
    a {
      padding-left: 1rem;
      margin-left: -1rem;
      color: var(--bs-dark);
      white-space: nowrap;
    }
    .submenu li a {
      color: var(--bs-secondary);
    }
    ul {
      padding: 0.1rem 1.5rem;
      li {
        margin-left: -1rem;
        padding: 0.15rem 0 0.15rem 1rem;
        font-size: 90%;
      }
    }
  }
}

/* Narrow screen layout */
@media screen and (max-width: 992px) {
  /* Menu appears as an overlay on the left, on top of content */
  .menu {
    left: 0;
    padding-left: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--bs-white);
  }
}

/* Wide screen layout */
@media screen and (min-width: 992px) {
  /* Hide the toggler. In wide screen, always show the menu */
  .navbar-toggler {
    display: none;
  }

  .menu.collapse:not(.show) {
    display: block;
  }
}

@media print {
  .menu {
    display: none;
  }
}

/* Style PRE elements They take up full width */
.codehilite pre {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 -1rem 1rem -1rem;
  color: #fff;
  background-color: inherit;
  /* On small screens, wrap code */
  white-space: pre-wrap;
  word-break: break-word;
}

/* Example apps */
.example {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0;
  display: flex;
  align-items: center;

  &:before {
    content: url(assets/css/example.svg);
    margin-right: 1rem;
    line-height: 0;
  }

  a {
    border: none;
    text-decoration: none;

    &.example-src {
      display: block;
      margin-left: auto;
      color: var(--bs-white);
      background-color: var(--bs-success);
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 0.25rem;

      &:hover {
        text-decoration: none;
        background-color: var(--bs-dark);
        color: var(--bs-white);
      }
      &:after {
        content: "➚";
        display: inline-block;
        margin-left: 0.5rem;
      }
    }
  }
}

// YouTube component extends the example component
.youtube {
  float: right;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  text-decoration: none;

  &:before {
    content: url(assets/css/youtube.svg);
    margin-right: 0.5rem;
    line-height: 0;
  }
  &:hover {
    color: var(--bs-black);
  }
}

/* PPTXHandler slides */
.slide iframe {
  width: 640px;
  height: 480px;
  max-width: 100%;
}

/* Search component */
.search {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  box-shadow: 3px 1px 2px #ddd;
}

.searchresults {
  position: absolute;
  top: 3rem;
}
