$font-family-base: Work Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
$headings-font-family: $font-family-base;
$dark: #3f327d;
$primary: #5AA0E8;
$warning: #ed7d31;
$success: #74E5A2;
$light: #eeeeee;
$font-size-base: 1.1rem;

@import "gramexui";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
@import url("ui/@fortawesome/fontawesome-free/css/all.min.css");
@import url("monokai.css?v=2");

:root {
  --navbar-height: 4rem;
  --sidebar-width: 16rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--navbar-height) + 1rem);
}

body {
  padding-top: var(--navbar-height);
  position: relative;   /* For Bootstrap scrollspy */
}

/* Heading typography */
h1 { font-size: 2.5rem; font-weight: 600; margin-top: 2em; }
h2 { font-size: 1.6rem; font-weight: 600; margin-top: 2em; }
h3 { font-size: 1.25rem; font-weight: 600; margin-top: 2em; }
.content h1:first-child { margin-top: 0; }

/* Tables should have borders */
table thead th { border-bottom: 1px solid #000; }
table tbody td { border-bottom: 1px solid #eee; }

/* Style the sidebar menu */
@media print {
  .menu { display: none; }
}
.container { position: relative; }
.menu {
  position: fixed;
  background-color: var(--white);
  width: var(--sidebar-width);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - var(--navbar-height));
  padding-right: 1rem;
  z-index: 100;
}
.content {
  /* Limit content width. But if URLs are too long, break them */
  max-width: 50rem;
  word-break: break-word;
}
/* Narrow screen layout */
@media screen and (max-width: 992px) {
  /* Menu appears as an overlay on the left, on top of content */
  .menu {
    left: 0;
    padding-left: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}
/* Wide screen layout */
@media screen and (min-width: 992px) {
  /* Hide the toggler. In wide screen, always show the menu */
  .navbar-toggler { display: none; }
  .menu.collapse:not(.show) { display: block; }
  /* Show the menu on the left. Show content on the right*/
  .content {
    margin-left: calc(var(--sidebar-width) + 4rem);
  }
}

.menu .menu-section {
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #888;
}
.menu .active {
  border-left: 2px solid black;
  color: black;
}
.menu a {
    display: block;
    color: var(--gray);
}
.menu li ul {
    padding: 0.1rem 1rem;
}
.menu li {
    list-style: none;
    width: 100%;
}
.menu li ul li {
    margin-left: -1rem;
    padding: 0.25rem 0 0.25rem 1rem;
}
.menu li a {
    padding-left: 1rem;
    margin-left: -1rem;
}
.menu .menu-h2 {
  font-size: 90%;
}
.menu .menu-h3 {
  font-size: 80%;
  margin-left: 0rem;
}

/* Feedback page */
  .feedback label { cursor: pointer; color: var(--secondary); }
  .feedback label:hover, .feedback label:active { color: var(--primary) !important; }
  .feedback [type="radio"]:checked+label { font-weight: bold; color: var(--black); }
  /* Hide the radio button, but don't use display: none since it impacts accessibility */
  .feedback [type=radio] { position: absolute; opacity: 0; width: 0; height: 0; }


/* Style PRE elements They take up full width */
.codehilite pre {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 -1rem 1rem -1rem;
  color: #fff;
  background-color: inherit;
  /* On small screens, wrap code */
  white-space: pre-wrap;
  word-break: break-word;
}


/* Example apps */
.example {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
  margin: 1rem 0;
  border: 1px solid rgba(0,0,0,.2);
  border-width: 1px 0;
  display: flex;
  align-items: center;

  &:before {
    content: url(example.png);
    margin-right: 1rem;
    line-height: 0;
  }

  a {
    border: none;
    color: var(--black);

    &.example-src {
      display: block;
      margin-left: auto;
      background-color: var(--success);
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 0.25rem;

      &:hover {
        text-decoration: none;
        background-color: var(--dark);
        color: var(--white);
      }
      &:after {
        content: "\f35d";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-left: 0.5rem;
      }
    }
  }
}

.slide iframe {
  width: 640px;
  height: 480px;
  max-width: 100%;
}


/* Search component */
#search {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  box-shadow: 3px 1px 2px #ddd;
}

#searchresults {
  position: absolute;
  top: 3rem;
}
