<template component="resizable-pane" direction="horizontal">
  <style>
    resizable-pane {
      display: flex;
      --divider-thickness: 8px;
    }

    resizable-pane[direction="horizontal"] {
      overflow-x: hidden;
      flex-direction: row;
    }

    resizable-pane[direction="vertical"] {
      overflow-y: hidden;
      flex-direction: column;
    }

    resizable-pane > .resizer {
      background-color: #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
    }

    resizable-pane[direction="horizontal"] > .resizer {
      cursor: ew-resize;
      height: 100%;
      width: var(--divider-thickness);
    }

    resizable-pane[direction="vertical"] > .resizer {
      cursor: ns-resize;
      height: var(--divider-thickness);
      width: 100%;
    }

    resizable-pane.drag > section {
      user-select: none;
      pointer-events: none;
    }
  </style>
  <% var children = Array.from(this.children).filter(el => el.tagName === 'SECTION') %>
  <% var size = 100 / children.length %>
  <% children.forEach((el, i) => { %>
    <% if(el.style.getPropertyValue('--size').length === 0) { %>
      <% el.style.setProperty('--size', `${size}%`) %>
    <% } %>
    <% if(direction === 'horizontal') { %>
      <% el.style.width = `calc(var(--size) - (var(--divider-thickness) * ${children.length - 1}))` %>
    <% } else { %>
      <% el.style.height = `calc(var(--size) - (var(--divider-thickness) * ${children.length - 1}))` %>
    <% } %>
    <%= el.outerHTML %>
    <% if(i < children.length - 1) { %>
      <div class="resizer">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" fill="currentColor" class="bi bi-grip-vertical" viewBox="4 4 8 8">
          <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      </div>
    <% } %>
  <% }) %>
  <script>
    document.body.addEventListener('render', function (e) {
      if (!e.target.matches('resizable-pane')) return
      const resizable = function(resizer) {
        const direction = e.target.getAttribute('direction') || 'horizontal';
        const prevSibling = resizer.previousElementSibling;
        const nextSibling = resizer.nextElementSibling;

        // The current position of mouse
        let x = 0;
        let y = 0;
        let prevCurr = 0;
        let nextCurr = 0;

        // Handle the mousedown event
        // that's triggered when user drags the resizer
        const mouseDownHandler = function (e) {
          // Get the current mouse position
          x = e.clientX;
          y = e.clientY;
          
          prevCurr = Number(prevSibling.style.getPropertyValue('--size').slice(0, -1))
          nextCurr = Number(nextSibling.style.getPropertyValue('--size').slice(0, -1))

          // Attach the listeners to `document`
          document.addEventListener('mousemove', mouseMoveHandler);
          document.addEventListener('mouseup', mouseUpHandler);
        };

        const mouseMoveHandler = function (e) {
          e.stopPropagation()
          e.preventDefault()
          // How far the mouse has been moved
          const dx = e.clientX - x;
          const dy = e.clientY - y;
          let prevSize, nextSize, totalSize
          resizer.parentElement.classList.add('drag')

          switch (direction) {
            case 'vertical':
              totalSize = resizer.parentNode.getBoundingClientRect().height;
              prevSize = prevCurr + dy * 100 / totalSize;
              nextSize = nextCurr - dy * 100 / totalSize;
              break;
            case 'horizontal':
            default:
              totalSize = resizer.parentNode.getBoundingClientRect().width;
              prevSize = prevCurr + dx * 100 / totalSize;
              nextSize = nextCurr - dx * 100 / totalSize;
              break;
          }
          prevSibling.style.setProperty('--size', `${prevSize}%`)
          nextSibling.style.setProperty('--size', `${nextSize}%`)
          const cursor = direction === 'horizontal' ? 'col-resize' : 'row-resize';
          resizer.style.cursor = cursor;
          document.body.style.cursor = cursor;
        };

        const mouseUpHandler = function (e) {
          e.stopPropagation()
          e.preventDefault()
          resizer.style.removeProperty('cursor');
          document.body.style.removeProperty('cursor');

          // Remove the handlers of `mousemove` and `mouseup`
          document.removeEventListener('mousemove', mouseMoveHandler);
          document.removeEventListener('mouseup', mouseUpHandler);

          resizer.parentElement.classList.remove('drag')
          resizer.dispatchEvent(new CustomEvent('section-resized', {
            bubbles: true
          }))
        };

        // Attach the handler
        resizer.addEventListener('mousedown', mouseDownHandler);
      };

      // Query all resizers
      e.target.querySelectorAll('.resizer').forEach(function (ele) {
        resizable(ele);
      });
    });
  </script>
</template>