<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DBAuth Login page</title>
  <link rel="stylesheet" href="../style.scss">
</head>
<body class="container">
  <nav class="py-4">
    <a href=".#secrets">&laquo; Back to Deploy</a>
  </nav>

  <section>

    {% if 'secrets_key' in handler.args %}
      <h1>Next steps</h1>
      <p>Copy this text into a public URL, e.g.
          <a href="https://pastebin.com/">PasteBin</a>,
          <a href="https://gist.github.com/">GitHub</a>.</p>
      {% from tornado.web import create_signed_value %}
      {% import json %}
      {% set key = handler.get_argument('secrets_key') %}
      {% set secrets = dict(zip(handler.args['key'], handler.args['value'])) %}
      {% set secrets.pop('', None) %}
      <div class="codehilite"><pre>{{ create_signed_value(key, '', json.dumps(secrets)).decode('utf-8') }}</pre></div>
      <p>Add this to your <code>.secrets.yaml</code></p>
      <div class="codehilite"><pre>
SECRETS_URL: https://add-url-where-you-saved-this-string
SECRETS_KEY: "{{ key }}"</pre></div>
      <p>When you restart Gramex, the secrets will be fetched again from your URL as:</p>
      <div class="codehilite"><pre>{{ secrets }}</pre></div>
      <hr class="my-5">
    {% end %}


    <h1>Encrypt Secrets</h1>
    <form method="POST">
      <input type="hidden" name="_xsrf" value="{{ handler.xsrf_token }}">
      <div class="form-group row">
        <label for="secrets_key" class="col-sm-2 col-form-label">Secret key</label>
        <div class="col-sm-10">
          <input class="form-control" name="secrets_key" id="secrets_key">
          <small class="form-text text-muted">
            This will be used to encrypt your secrets. Enter any text. Don't re-use it. Don't share it.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          Add key <small class="form-text text-muted">e.g. <code>TWITTER_KEY</code></small>
        </div>
        <div class="col-sm-9">
          Add value <small class="form-text text-muted">... corresponding to the key</small>
        </div>
      </div>
      {% for x in range(3) %}
        <div class="form-group row key-value">
          <div class="col-sm-3"><input class="form-control" name="key"></div>
          <div class="col-sm-9"><input class="form-control" name="value"></div>
        </div>
      {% end %}
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-success">Encrypt Secrets</button>
          <button type="button" class="btn btn-primary add-row">
            <i class="fas fa-plus-circle"></i> Add row
          </button>
        </div>
      </div>
    </form>
  </section>

  <script src="../ui/jquery/dist/jquery.min.js"></script>
  <script src="/./script.js"></script>
  <script>
    $('.add-row').on('click', function () {
      $('.key-value:last').clone().insertAfter('.key-value:last')
    })
  </script>

</body>
</html>
