<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Gramex Learning | GRAMENER</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <!-- <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" /> -->
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->
        <link href="/{{ GUIDE_ROOT }}/monokai.css" rel="stylesheet" />        
        <link href="/{{ GUIDE_ROOT }}/ui/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
        <link href="/{{ GUIDE_ROOT }}/assets/css/styles.css" rel="stylesheet" />
        <style>
            .one {
                display: inline-flex;
                width: 100% !important;
            }
            .three {
                width: 100%;
            }
            .two {
                position: absolute;
                color: #bb9e9e;
                left: 310px;
                padding: 8px 0px;
            }
            @media(max-width:768px) {
                .two{ 
                    left: 30px !important;
                }                                                    
            }
            @media(max-width:767px) {
                .two{ 
                    left: 30px !important;
                }                                                    
            }
            
        </style>
    </head>
    <body id="page-top">
        <div class="sticky-top" style="text-transform: uppercase;">
            <nav class="navbar navbar-expand-lg navbar-dark px-sm-3 py-0 body-color black_bg px-md-4" id="mainNav" style="border-bottom: 1px solid #ccc;">
            <div class="container py-2 px-0">
            <a class="navbar-brand js-scroll-trigger" href="../">
            <img src="https://gramener.com/img-2019/gramener.jpg" class="mt-0 bg-dark" alt="Gramener" width="130px">
            </a>
            <!-- <a class="demorequest gramener" href="/demorequest/">Contact US</a> -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto fs-14" style="font-weight: 400;">     
            <li class="nav-item">                       
                <a class="nav-link js-scroll-trigger mx-lg-1  gramex " href="/gramex/">Platform</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle js-scroll-trigger mx-lg-1" href="/solutions/">Solutions</a>
                <div class="dropdown-menu text-dark fs-14 dropdown-menu-color menu-pad">            
                <a class="dropdown-item-du dropdown-item text-light advisory-consulting dropdown_item" href="/advisory-consulting/">Advisory Consulting</a>            
                <a class="dropdown-item-du dropdown-item text-light digital-twin dropdown_item" href="/digital-twin/">Digital Twin</a>            
                <a class="dropdown-item-du dropdown-item text-light spatial-analytics dropdown_item" href="/spatial-analytics/">Spatial Analytics</a>            
                <a class="dropdown-item-du dropdown-item text-light computer-vision-solutions dropdown_item" href="/computer-vision-solutions/">Computer Vision</a>            
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle js-scroll-trigger mx-lg-1" href="/products/">Products</a>
                <div class="dropdown-menu text-dark fs-14 dropdown-menu-color menu-pad">            
                <a class="dropdown-item-du dropdown-item text-light  dropdown_item" href="https://slidesense.ai/">SlideSense</a>            
                <a class="dropdown-item-du dropdown-item text-light comicgen dropdown_item" href="/comicgen/">Comicgen</a>            
                <a class="dropdown-item-du dropdown-item text-light cluster dropdown_item" href="/cluster/">Cluster</a>            
                <a class="dropdown-item-du dropdown-item text-light data-explorer dropdown_item" href="/data-explorer/">Data explorer</a>            
                </div>
            </li>
            <li class="nav-item">            
                <a class="nav-link js-scroll-trigger mx-lg-1  ailabs " href="/ailabs/">AI Labs</a>
            </li>                                 
            <li class="nav-item">            
                <a class="nav-link js-scroll-trigger mx-lg-1  storylabs " href="/storylabs/">Story Labs</a>
            </li>
            <li class="nav-item">            
                <a class="nav-link js-scroll-trigger mx-lg-1  downloads " href="/downloads/">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger mx-lg-1  companystory " href="/companystory/">About Us</a>
            </li>                     
            <li class="nav-item">            
            <a class="nav-link js-scroll-trigger mx-lg-1  https://blog.gramener.com d-lg-none d-xl-none d-xs-none" href="https://blog.gramener.com">Blogs</a>
            </li>
            <li class="nav-item">            
            <a class="nav-link js-scroll-trigger mx-lg-1  news d-lg-none d-xl-none d-xs-none" href="/news/">News</a>
            </li>            
            <li class="nav-item">            
            <a class="nav-link js-scroll-trigger mx-lg-1  data-science-whiteboards d-flex d-md-flex d-lg-none d-xl-none" href="/data-science-whiteboards/">Whiteboard Videos</a>
            </li>
            <li class="nav-item">            
            <a class="nav-link js-scroll-trigger mx-lg-1  downloads/#t=webinar d-flex d-md-flex d-lg-none d-xl-none" href="/downloads/#t=webinar">Webinars</a>
            </li>
            <li class="nav-item">            
            <a class="nav-link js-scroll-trigger mx-lg-1 careers d-flex d-md-flex d-lg-none d-xl-none font-weight-bold" href="/careers/">Careers</a>
            </li>
            <li class="nav-item">            
            <a class="nav-link js-scroll-trigger mx-lg-1  demorequest " href="/demorequest/">Book A Demo</a>
            </li>            
            <!-- <li class="nav-item">
                <a class="nav-link js-scroll-trigger mx-lg-1  demorequest " href="/demorequest/">Contact Us</a>
                </li> -->            
            </ul>
            </div>
            </div>
            </nav>
            </div>        
        <!-- header-->
        <section class="bg-gramex">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-12">
                        <!-- Text info-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h1 class="display-1 lh-1 mb-3 text-white">
                                Your Learning Space</h1>
                            <p class="lead fw-light text-white mb-3">
                                Get one-stop access to everything Gramex: tutorials, e-books, white papers, online courses, certification, and more.
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Text info-->                        
                    </div>
                </div>
            </div>
        </section>        
        
        <section>
            <div class="container-fluid py-60">
                <div class="custom_floating_card pb-3 mb-4">
                    <div class="container-fluid px-0 rounded bg-dark">
                        <div class="col text-center px-0">
                            <div class="text-white py-4">
                                <div class="col-md-12" id="test">
                                    <div class="col-md-7 mx-auto">
                                        <div class="w-100 mb-lg-0 mb-3 mb-md-0">
                                            <!-- <div class="row no-gutters align-items-center">
                                                <div class="col-md-12 search-design">
                                                    <i class='fas fa-search search-icon'></i>
                                                    <input class="form-control border-primary text-color6 h5 mb-0 border-0 fw-600 search bg-light px-5" 
                                                    type="search" id="example-search-input1" data-search="@text" data-target=".gallery-item" data-hide-class="d-none"
                                                    placeholder="Search topics" data-prefix="/{{ GUIDE_ROOT }}/" data-url="/{{ GUIDE_ROOT }}/search/searchindex.json" 
                                                    autocomplete="off">                
                                                </div>
                                            </div> -->
                                            
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-md-12">                                                
                                                <div class="one">
                                                    <div class="two">                                                
                                                        <i class='fas fa-search search-icon'></i>                                                
                                                    </div>
                                                <div class="three">                                                     
                                                <input class="form-control border-primary text-color6 h5 mb-0 border-0 fw-600 search bg-light px-5"
                                                type="search" id="example-search-input1" data-search="@text" data-target=".gallery-item" data-hide-class="d-none"
                                                placeholder="Search topics" data-prefix="/{{ GUIDE_ROOT }}/" data-url="/{{ GUIDE_ROOT }}/search/searchindex.json"
                                                autocomplete="off">
                                                </div>                                                
                                                                                               
                                                </div>                                                
                                                </div>
                                                </div>                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="features" class="">
            <div class="container px-5">
                <div class="row gx-5">
                    {% if course_index== 'yes' %}
                    <div class="col-lg-4">                        
                        <div class="sidebar-2"><div class="sticky-spacer"></div>
                        <div class="sticky-content">
                            <nav class="sidebar vertical-navigation">
                                <div class="inline-block"><i class="fa fa-star"></i><h5 class="pad-lf-4">Gramex Guide</h5></div>
                                <ul class="nav flex-column menu-highlighter">                                    
                                    <li class="nav-item has-submenu">
                                      <a class="nav-link" aria-current="page" href="/{{ GUIDE_ROOT }}/home/">
                                          <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Overview</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/tutorials/quickstart/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Quickstart tutorial</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/tutorials/dashboards/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Dashboard tutorial</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/tutorials/charts/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Charts tutorial</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/tutorials/g1-dropdown/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Dropdown tutorial</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" target="_blank" href="https://github.com/gramexrecipes/gramex-ml-workshop/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />ML app tutorial</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/exercises/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Exercises</a>
                                    </li>
                                    <!-- <li class="nav-item has-submenu">
                                        <a class="nav-link d-flex" href="#">
                                            <img class="d-inline mr-3 mt-2" src="/{{ GUIDE_ROOT }}/assets/img/g1full.png" />
                                            <div>
                                            <div>Gramener One (G1)</div>
                                            <div class="small">One Stop Solution</div>
                                            </div>
                                            </a>
                                    </li> -->
                                  </ul>
                                  <hr>
                                  <div class="inline-block"><i class="fa fa-star"></i><h5 class="pad-lf-4">Usage</h5></div>
                                  <ul class="nav flex-column menu-highlighter">                                                                                                                                           
                                    <li class="nav-item has-submenu">
                                    <a class="nav-link" aria-current="page" href="/{{ GUIDE_ROOT }}/install/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Install Gramex</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/init/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Gramex init</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/config/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Configurations</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/deploy/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Deployment patterns</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/debug/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Debugging Gramex</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" target="_blank" href="/{{ GUIDE_ROOT }}/security/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Security</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/test/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Testing Gramex</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/tips/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Tips</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/snippets/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />VS Code Snippets</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/contributing/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Contributing</a>
                                </li>
                            </ul>
                            <hr>
                                  <div class="inline-block"><i class="fa fa-star"></i><h5 class="pad-lf-4">Microservices</h5></div>
                                  <ul class="nav flex-column menu-highlighter">                                                                                                                                           
                                    <li class="nav-item has-submenu">
                                    <a class="nav-link" aria-current="page" href="/{{ GUIDE_ROOT }}/filehandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />FileHandler</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/formhandler/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />FormHandler</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/functionhandler/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />FunctionHandler</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/auth/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Auth handlers</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/drivehandler/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />DriveHandler</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" target="_blank" href="/{{ GUIDE_ROOT }}/capturehandler/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />CaptureHandler</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/mlhandler/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />MLHandler</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/pptxhandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />PPTXHandler</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/comichandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />ComicHandler</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/openapihandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />OpenAPIHandler</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/filterhandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />FilterHandler</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/jsonhandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />JSONHandler</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/proxyhandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />ProxyHandler</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/processhandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />ProcessHandler</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/websockethandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />WebSocketHandler</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/twitterresthandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />TwitterRESTHandler</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/facebookgraphhandler/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />FacebookGraphHandler</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/handlers/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Write handlers</a>
                                </li>
                            </ul>
                            <hr>
                                  <div class="inline-block"><i class="fa fa-star"></i><h5 class="pad-lf-4">Libraries</h5></div>
                                  <ul class="nav flex-column menu-highlighter">                                                                                                                                           
                                    <li class="nav-item has-submenu">
                                    <a class="nav-link" aria-current="page" href="/{{ GUIDE_ROOT }}/topcause/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />TopCause</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/cache/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Cache requests</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/email/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Send email</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/alert/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Smart alerts</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/logging/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Logging</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" target="_blank" href="/{{ GUIDE_ROOT }}/scheduler/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Schedule tasks</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/watch/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Watch files</a>
                                    </li>                                    
                            </ul>
                            <hr>
                                  <div class="inline-block"><i class="fa fa-star"></i><h5 class="pad-lf-4">Apps</h5></div>
                                  <ul class="nav flex-column menu-highlighter">                                                                                                                                           
                                    <li class="nav-item has-submenu">
                                    <a class="nav-link" aria-current="page" href="/{{ GUIDE_ROOT }}/apps/">
                                        <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Run apps</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/admin/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Admin page</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/chart/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Charts</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/uicomponents/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />UI Components</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/uifactory/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />UIFactory</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" target="_blank" href="/{{ GUIDE_ROOT }}/g1/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />g1</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/mapviewer/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Mapviewer</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/logviewer/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />View logs</a>
                                    </li>
                                    <li class="nav-item has-submenu">
                                        <a class="nav-link" href="/{{ GUIDE_ROOT }}/languagetool/">
                                            <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />Language Tool</a>
                                    </li>                                   
                            </ul>
                            <hr>
                            <div class="inline-block"><i class="fa fa-star"></i><h5 class="pad-lf-4">Product</h5></div>
                            <ul class="nav flex-column menu-highlighter">                                                                                                                                           
                                <li class="nav-item has-submenu">
                                <a class="nav-link" aria-current="page" href="/{{ GUIDE_ROOT }}/roadmap/">
                                    <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />
                                    Gramex Roadmap
                                </a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/release/">
                                    <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />
                                    Release notes</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/edition/">
                                    <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />
                                    Editions</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/faq/">
                                    <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />
                                    FAQ</a>
                                </li>                                                                                                         
                            </ul>
                            <hr>
                            <div class="inline-block"><i class="fa fa-star"></i>
                                <h5 class="pad-lf-4">Reference</h5>
                            </div>
                            <ul class="nav flex-column menu-highlighter">                                                                                                                                           
                                <li class="nav-item has-submenu">
                                <a class="nav-link" aria-current="page" href="/{{ GUIDE_ROOT }}/license/">
                                    <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />
                                    License
                                </a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a target="_blank" href="https://learn.gramener.com/gramex/gramex.html">
                                    <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />
                                    API Reference</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/linkcheck/">
                                    <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />
                                    Link check</a>
                                </li>
                                <li class="nav-item has-submenu">
                                    <a class="nav-link" href="/{{ GUIDE_ROOT }}/search/">
                                    <img class="d-inline" src="/{{ GUIDE_ROOT }}/assets/img/overview.svg" />
                                    Index</a>
                                </li>                                                                                                         
                            </ul>
                            </nav>                          
                          </div>
                        </div>

                        
                    </div>
                    {% end %}
                    {% set style_class = 'col-lg-8' if course_index == 'yes' else 'col' %}
                    <script src="/{{ GUIDE_ROOT }}/ui/jquery/dist/jquery.min.js"></script>
                    <script src="/{{ GUIDE_ROOT }}/ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                    <script src="/{{ GUIDE_ROOT }}/ui/lodash/lodash.min.js"></script>
                    <script src="/{{ GUIDE_ROOT }}/ui/g1/dist/g1.min.js"></script>                 
                    <div class="{{style_class}} content">
                       <div class="sticky-spacer"></div>
                       <div class="sticky-content">
                        {% raw body %}
                        {% if course_index== 'yes' %}
                        <div class="my-5">                            
                            <form class="border-top border-dark feedback text-center" data-url="/{{ GUIDE_ROOT }}/feedback">
                                <input type="hidden" name="page" value="{{ handler.request.path }}">
                                <div class="py-3">
                                  <strong>Is this page helpful?</strong>
                                  <div class="form-check d-inline">
                                    <label for="helpful-yes" class="help-check-col">
                                        <input type="radio" name="helpful" value="y" id="helpful-yes">
                                        <i class="far fa-thumbs-up"></i> Yes
                                    </label>
                                  </div>
                                  <div class="form-check d-inline">
                                    <label for="helpful-no" class="help-check-col">
                                        <input type="radio" name="helpful" value="n" id="helpful-no">
                                        <i class="far fa-thumbs-down"></i> No
                                    </label>                                    
                                  </div>
                                </div>
                                <div class="py-3 feedback-details d-none">
                                  <textarea name="feedback" class="feedback-text form-control" placeholder="Any additional feedback?"></textarea>
                                </div>
                                <div class="py-3 feedback-details d-none">
                                  <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                  <button type="reset" class="feedback-skip btn btn-sm btn-light">Skip</button>
                                </div>
                                <div class="py-3 feedback-thanks d-none">
                                  Thanks for your feedback.
                                </div>
                            </form>
                    
                            <div class="text-center">
                            <a class="btn btn-sm btn-primary my-1" href="https://stackoverflow.com/questions/tagged/gramex">Ask a question on StackOverflow</a>
                            <a class="btn btn-sm btn-warning my-1" href="https://github.com/gramener/gramex/issues/new?labels=bug&title={{ title }}+issue">Report a bug on Github</a>
                            </div>
                    
                            <div class="d-flex justify-content-between align-items-center py-4 border-top border-dark">
                            <a href="https://gramener.com/" target="_blank"><img height="40" src="https://gramener.com/img-2019/gramener_icon.png" alt="Gramener"></a>
                            <div class="sm1 text-uppercase">
                                <a href="/{{ GUIDE_ROOT }}/" class="text-dark">Gramex Guide</a>
                                |
                                <a href="https://gramener.com/platform/" class="text-dark">Powered by Gramex</a>
                            </div>
                            <div>
                                <a href="https://stackoverflow.com/questions/tagged/gramex" target="_blank" class="text-dark"><i class="fab fa-stack-overflow fa-2x ml-3" title="Gramex on StackOverflow"></i></a>
                                <a href="https://github.com/gramener/gramex/" target="_blank" class="text-dark"><i class="fab fa-github fa-2x ml-3" title="Gramex on Github"></i></a>
                            </div>
                            </div>
                        </div>
                        {% end %}
                    </div>
                    </div>
                    
                </div>

                

            </div>
        </section>
        
        <!-- Basic features section-->
        <section class="bg-dark" id="download">
            <div class="container px-5">
                <h2 class="text-center text-white font-alt mb-4 fw-light">
                    “Wisdom is not a product of schooling but of the lifelong attempt to acquire it.” – Albert Einstein
                </h2>
                <div class="d-grid gap-2 col-3 mx-auto mx-auto ">
                    <!-- <button class="btn btn-bg rounded-pill mb-2 mt-4" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="align-items-center">
                            <span class="small">Get Started</span>
                        </span>
                    </button> -->
                    <a href="https://www.gramener.com/gramex" class="btn btn-bg rounded-pill mb-2 mt-4">
                        <span class="align-items-center">
                            <span class="small">Learn more about Gramex</span>
                        </span>
                    </a>
                </div>
            </div>
        </section>
        <!-- Footer-->
    <footer class="bg-footer  text-white py-5">
        <div class="container px-5">
            <div class="row">
                <div class="col-md-2 col-lg-5">
                    <h5>Gramener</h5>
                    <p>Gramener is a design-led data science company that helps solve complex business problems with
                        compelling data stories using insights and a low-code analytics platform. We help enterprises
                        large and small with data insights and storytelling by leveraging Machine Learning, Artificial
                        Intelligence, Automated Analysis, and Visual Intelligence using modern charts and narratives.
                        Our services & technology has been recognized by Gartner and has won several awards.</p>
                </div>
                <div class="col-md-2 col-lg-2">
                    <h5>Quick Links</h5>
                    <ul class="footer-list">
                        <li class="footer-list__item pt-3"><a href="/software-overview">About</a>
                        </li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="academy.html">News</a>
                        </li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="academy.html">Videos</a>
                        </li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="academy.html">Blog</a>
                        </li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="academy.html">Careers</a>
                        </li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="https://www.gramener.com"
                                title="https://www.gramener.com/">Cookie Policy</a></li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="https://www.gramener.com/"
                                title="https://www.gramener.com">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-3">
                    <h5>Products & Offerings</h5>
                    <ul class="footer-list">
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="academy.html">Gramex
                                Low-code Platform</a></li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link"
                                href="https://gramener.com">SlideSense</a></li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link"
                                href="/developer-guide">Clusters</a></li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="academy.html">Data
                                Explorer</a></li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="academy.html">ComicGen</a>
                        </li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link"
                                href="https://gramener.com">Solutions</a></li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link"
                                href="/developer-guide">Narrative</a></li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="academy.html">Data Science
                                Advisory</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2">
                    <h5>Contact Us</h5>
                    <ul class="footer-list">
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="/#">Request Demo</a>
                        </li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link" href="tel:+16094543669">+1 609
                                454 3669</a></li>
                        <li class="footer-list__item pt-3"><a class="footer-list__link"
                                href="mailto:reachus@gramener.com">reachus@gramener.com</a></li>
                    </ul>
                    <h5>Get Social With Us</h5>
                    <p>
                        <a href="#" class="facebook  mr-2" target="_blank"><i class="bi bi-facebook footer_custom"></i></a>
                        <a href="#" class="twitter   mr-2" target="_blank"><i class="bi bi-twitter footer_custom"></i></a>
                        <a href="#" class="linkedin  " target="_blank"><i class="bi bi-linkedin footer_custom"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
     
        <!-- Bootstrap core JS-->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
        <!-- Core theme JS-->
        <!-- <script src="js/scripts.js"></script> -->
        <!-- <script src="/{{ GUIDE_ROOT }}/assets/js/scripts.js"></script> -->
        <script src="/{{ GUIDE_ROOT }}/node_modules/lunr/lunr.js"></script>
        <script src="/{{ GUIDE_ROOT }}/script.js?v=63"></script>  
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/621c8b9d1ffac05b1d7c3009/1fsvo2o10';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->          
    </body>
</html>
